<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <rosparam file="$(find urquhart)/run_configs/sim_path/need_a_win.yaml" command="load" />
    <node pkg="urquhart" type="ultimate_path" name="sim_path" output="screen" />
    <node pkg="urquhart" type="KeyframeGen" name="keyframe_maker" output="screen" />
    <node pkg="urquhart" type="keyframe_display.py" name="kf_display" output="screen" />
</launch>