<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="configFile" default="E-c34.yaml" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x11.yaml" command="load" /> -->
    <rosparam file="$(find urquhart)/run_configs/slam_profiles/x34.yaml" command="load" />
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x34-map.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x54.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x34-dense.yaml" command="load" /> -->
    
    <rosparam file="$(find urquhart)/run_configs/offline_expr/10Mc-NOISE.yaml" command="load" />
    <!-- <rosparam file="$(find urquhart)/run_configs/offline_expr/10Mc-easy-map.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/online/med-diff.yaml" command="load" /> -->
    
    <!-- Simulate Robot Observations -->
    <node pkg="urquhart" type="SimPath" name="sim_path" output="screen" />

    <!-- Local Bundle Adjustment Node -->
    <node pkg="urquhart" type="KeyframeGen" name="keyframe_maker" output="screen" />

    <!-- Global GraphSLAM Node -->
    <node pkg="urquhart" type="PolygonSLAM" name="graph_builder" output="screen" />

    <!-- Analytics Node -->
    <node pkg="urquhart" type="runtime_eval_SLAM.py" name="eval_raw_SLAM" output="screen" />

</launch>