<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <arg name="configFile" default="E-c34.yaml" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x11.yaml" command="load" /> -->
    <rosparam file="$(find urquhart)/run_configs/slam_profiles/x34.yaml" command="load" />
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x34-map.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x54.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/slam_profiles/x34-dense.yaml" command="load" /> -->
    
    <!-- <rosparam file="$(find urquhart)/run_configs/offline_expr/10Mc-all.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/offline_expr/10Mc-easy-map.yaml" command="load" /> -->
    <rosparam file="$(find urquhart)/run_configs/online/med-diff.yaml" command="load" />
    
    <!-- Simulate Robot Observations -->
    <node pkg="urquhart" type="SimPath" name="sim_path" output="screen" />
    <!-- <node pkg="urquhart" type="SimPath" name="($anon sim_path)" output="screen" /> -->

    <!-- Local Bundle Adjustment Node -->
    <node pkg="urquhart" type="KeyframeGen" name="keyframe_maker" output="screen" />
    <!-- <node pkg="urquhart" type="KeyframeGen" name="($anon keyframe_maker)" output="screen" /> -->

    <!-- Global GraphSLAM Node -->
    <node pkg="urquhart" type="PolygonSLAM" name="graph_builder" output="screen" />
    <!-- <node pkg="urquhart" type="PolygonSLAM" name="($anon graph_builder)" output="screen" /> -->

    <!-- Analytics Node -->
    <node pkg="urquhart" type="runtime_eval_SLAM.py" name="eval_raw_SLAM" output="screen" />
    <!-- <node pkg="urquhart" type="runtime_eval_SLAM.py" name="($anon eval_raw_SLAM)" output="screen" /> -->


    <!-- Visualizations -->
    <node pkg="urquhart" type="live_truth_display.py" name="live_true" output="screen" />
    <group ns="sim_path">
        <node pkg="urquhart" type="live_pc.py" name="pc_display" output="screen">
            <param name="topicName" value="local_points" />
        </node>
    </group>
    <group ns="keyframe_maker">
        <node pkg="urquhart" type="live_pc.py" name="baseframe_display" output="screen">
            <param name="topicName" value="allPoints" />
        </node>
        <node pkg="urquhart" type="live_pc.py" name="keyframe_display" output="screen">
            <param name="topicName" value="keyframe" />
        </node>
    </group>
    <node pkg="urquhart" type="live_graph.py" name="graph_display" output="screen" />

</launch>