<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <rosparam file="$(find urquhart)/run_configs/geoSLAM/big_square.yaml" command="load" /> -->
    <!-- <rosparam file="$(find urquhart)/run_configs/geoSLAM/config_that_works.yaml" command="load" /> -->
    <rosparam file="$(find urquhart)/run_configs/geoSLAM/this_is_the_one.yaml" command="load" />
    
    
    <!-- Simulate robot observations -->
    <node pkg="urquhart" type="ultimate_path" name="sim_path" output="screen" />
    <node pkg="urquhart" type="live_truth_display.py" name="live_true" output="screen" />

    <!-- Local Bundle Adjustment Node -->
    <node pkg="urquhart" type="KeyframeGen" name="keyframe_maker" output="screen" />

    <!-- Global GraphSLAM Node -->
    <node pkg="urquhart" type="PolygonSLAM" name="graph_builder" output="screen" />
    <!-- <group ns="graph_builder">
        <node pkg="urquhart" type="live_gh.py" name="gh_display" output="screen" />
    </group> -->
    <!-- <node pkg="urquhart" type="ult_live.py" name="global_dash" output="screen" /> -->
    <node pkg="urquhart" type="live_graph.py" name="global_dash" output="screen" />
    <!-- <node pkg="urquhart" type="live_graph.py" name="graph_display" output="screen" /> -->
</launch>