<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <rosparam file="$(find urquhart)/run_configs/sim_path/cool_path.yaml" command="load" /> -->
    <rosparam file="$(find urquhart)/run_configs/geoSLAM/std.yaml" command="load" />
    <node pkg="urquhart" type="ultimate_path" name="sim_path" output="screen" />
    <node pkg="urquhart" type="live_truth_display.py" name="truth_display" output="screen" />

</launch>